alias gs='git status'
alias gsu='git status -uno'
alias gd='git diff'
alias gds='git diff --staged'
alias ga='git add'
alias gc='git commit'
alias gch='git checkout'
alias gl='git log --abbrev-commit'
alias glg='git log --graph --pretty=oneline --abbrev-commit'
alias push='git push'
alias pull='git pull'
alias l='ls -hlaF'
alias f='grep --color -n -I -R --exclude-dir=.git'
