alias gs='git status'
alias gsh='git show'
alias gd='git diff'
alias gds='git diff --staged'
alias gdn='git diff --stat'
alias ga='git add'
alias grh='git reset --hard'
alias gc='git commit -v'
alias gch='git checkout'
alias gl='git log --abbrev-commit'
alias gln='git log --abbrev-commit --stat'
alias glg='git log --graph --pretty=oneline --abbrev-commit'
alias push='git push'
alias pull='git pull'
alias f='grep --color=always -n -I -R --exclude-dir=log --exclude-dir=tmp --exclude-dir=.git --exclude-dir=.svn --exclude-dir=session --exclude-dir=node_modules'
alias q='find . -name'
alias v='~/vimp'
alias less='less -R'
alias j='jobs -l'
alias ff='google-chrome --user-data-dir=$HOME/.config/chrome.vlad & exit'
alias l='ls -hlaF'
function www() { python -m SimpleHTTPServer ${1:-8888}; }
function jsonpp() { node -e "console.log(JSON.parse(require('fs').readFileSync('/dev/stdin').toString()));"; }

# Breakout stuff
alias refreshdb='bundle exec rake db:drop db:create db:migrate db:test:clone_structure'
alias br='cd ~/src/breakout'
alias br2='cd ~/src/breakout2'
alias s='bundle exec rails server -d'
alias c='bundle exec rails console'
alias ss='test -f tmp/pids/server.pid && kill -INT `cat tmp/pids/server.pid` && rm -f log/*.log'
alias migrate='bundle exec rake db:migrate db:test:clone_structure && RAILS_ENV=test bundle exec rake db:migrate'

alias profm90s='mplayer http://stream.profm.ro:8092/90s.mp3'
alias profmclassic='mplayer http://stream.profm.ro:8082/clasic.mp3'

alias bp='cd ~/src/bp'
alias cl='cd ~/src/bp/cl'
alias cs='cd ~/src/bp/cs'
alias us='cd ~/src/bp/us'
alias ds='cd ~/src/bp/ds'

alias g='grunt'
alias xo='cd ~/src/xo'
