[github]
	user = gurdiga
	token = 8e6491be25675756987603e28e8f886f
[user]
	name = Vlad GURDIGA
	email = gurdiga@gmail.com
	signingkey = 59DDC0669FB5CFC6
[color]
	ui = true
[core]
	pager = less -XFRS
	editor = vim
	excludesfile = ~/.gitignore
	quotepath = false
[alias]
[branch]
	autosetuprebase = always
[push]
	default=current
[pull]
	rebase=true
[diff]
	compactionHeuristic=true
