*.sw?
.bash_history
.vimrc
.viminfo
.vim
.grepignore
.qignore
Makefile
.tmp
*.timestamp

!.vim
.vim/spell/*.add.spl

tags

.mocha.opts
.env
.env.sample

# Jekyll
_site/
.jekyll-cache/

# Bundler per-directory setup
.bundle
vendor/
