/* Google Notebok */

.oh {
	display: none;
}

/* GMail */

/* invite box */
.T0.pp:nth-child(2) {
	display: none;
}

/* footer */
.l2.ov.nH.oy8Mbf {
	display: none;
}

/* "Move to" + "Labels" button pair */
.VP5otc-HT6HAf.J-J5-Ji:nth-child(3) {
	display: none !important;
}

/* "More actions" button pair */
.VP5otc-HT6HAf.J-J5-Ji:nth-child(4) {
	display: none !important;
}

/* Search */
.nH.GcwpPb-Z8OBDd .no .nH.nn:nth-child(2) {
	opacity: 0;
}

.nH.GcwpPb-Z8OBDd .no .nH.nn:nth-child(2):hover {
	opacity: .3;
}

/* top nav */
.nH.GcwpPb-Z8OBDd .nH.oy8Mbf.qp {
	opacity: 0;
}

.nH.GcwpPb-Z8OBDd .nH.oy8Mbf.qp:hover {
	opacity: .3;
}

/* Mail, Contacts, and Tasks links in the left nav */
.nH.oy8Mbf.nn .Ls77Lb .CX.pp,
.nH.oy8Mbf.nn .Ls77Lb .T4.pp {
	display: none;
}

/* "Compose" button */
.nH.oy8Mbf.nn .Ls77Lb .pp .oo .hF56D {
	display: none;
}

/* More labels */
.nH.oy8Mbf.nn .Ls77Lb .pp .n6 {
	opacity: .2
}

.nH.oy8Mbf.nn .Ls77Lb .pp .n6:hover {
	opacity: .8
}

/* right-hand Ads */
table.Bs.nH td.Bu .nH span.u7,
table.Bs.nH td.Bu .nH .u5 .oM {
	display: none;
}

table.Bs.nH td.Bu:nth-child(3)>.nH {
	width: 100px!important;
	opacity: 0;
}

table.Bs.nH td.Bu:nth-child(3)>.nH:hover {
	opacity: .7;
}

/* bottom Ads */
.z0DeRc {
	display: none;
}

/* border for the chat panel */
.nH.oy8Mbf.nn .T8uMgc .T0.pp {
	border: 1px solid #CCD2E6;
}
