/* Google Notebok */
@-moz-document url-prefix(https://www.google.com/notebook/) {
	#gn2, .oh, #gn0_4, #gn_ph, #guser, #gn0.h>div, #gbar, body>.gbh {
		display: none;
	}

	#gn1_0 {
		height: auto!important;
	}

	#gn0 {
		padding-top: 1em;
	}
}

@-moz-document url-prefix(https://mail.google.com/mail/) {
	.nH .nH.OH0apf {
		display: none;
	}
}


@-moz-document url-prefix(https://www.google.com/reader/view/) {
	#gb, #top-bar, #lhn-friends, #lhn-recommendations {
		display: none;
	}
}

@-moz-document url-prefix(https://encrypted.google.com) {
	#taw {
		display: none;
	}
}


@-moz-document url-prefix(http://www.youtube.com/) {
	#footer-container,
	#watch-main-container,
	#watch-sidebar {
		opacity: 0;
	}

	#footer-container:hover,
	#watch-main-container:hover,
	#watch-sidebar:hover {
		opacity: .8;
	}
}


@-moz-document url-prefix(http://www.mediafire.com/) {
	div.more_dloptions,
	#remove_ads_button2,
	#iframe_linkto3,
	table.dl_options_wrapper>tbody>tr>td:first-child {
		display: none;
	}
}


@-moz-document url-prefix(http://thepiratebay.org/) {
	#header .ad,
	#main-content iframe,
	.ads#sky-banner,
	script + script + script + div {
		display: none!important;
	}
}


@-moz-document url-prefix(https://encrypted.google.com/) {
	#rhs {
		display: none!important;
	}
}


@-moz-document url-prefix(http://dexonline.ro/) {
  #banner_beforeResults {
    display: none;
  }
}
