@-moz-document url-prefix(https://mail.google.com/mail/) {
	/* footer */
	.l2.ov.nH.oy8Mbf {
		display: none;
	}

	/* right-hand Ads */
	table.Bs.nH td.Bu .nH span.u7,
	table.Bs.nH td.Bu .nH .u5 .oM {
		display: none;
	}

	table.Bs.nH td.Bu:nth-child(3)>.nH {
		width: 100px!important;
		opacity: 0;
	}

	table.Bs.nH td.Bu:nth-child(3)>.nH:hover {
		opacity: .7;
	}

	/* bottom Ads */
	.z0DeRc {
		display: none;
	}

	/* bottom ads in view-conversation */
	.Bs.nH.iY .nH.PS .Zs {
		display: none !important;
	}
}

@-moz-document url-prefix(https://encrypted.google.com) {
	#taw {
		display: none;
	}

	#rhs {
		display: none!important;
	}
}


@-moz-document url-prefix(http://www.youtube.com/) {
	#footer-container,
	#watch-main-container,
	#watch-sidebar {
		opacity: 0;
	}

	#footer-container:hover,
	#watch-main-container:hover,
	#watch-sidebar:hover {
		opacity: .8;
	}
}


@-moz-document url-prefix(http://www.mediafire.com/) {
	div.more_dloptions,
	#remove_ads_button2,
	#iframe_linkto3,
	table.dl_options_wrapper>tbody>tr>td:first-child {
		display: none;
	}
}


@-moz-document url-prefix(http://thepiratebay.org/) {
	#header .ad,
	#main-content iframe,
	.ads#sky-banner,
	script + script + script + div {
		display: none!important;
	}
}


@-moz-document url-prefix(http://dexonline.ro/) {
	#banner_beforeResults {
		display: none;
	}
}


@-moz-document url-prefix(http://video.google.com/) {
	#related-div {
		display: none;
	}
}


@-moz-document url-prefix(http://review.assembla.com/) {
  input.gwt-TextBox,
  .GFIMIIOBMB,
  .GFIMIIOBHH td {
    font-family: "Ubuntu mono", monospace!important;
    font-size: 12px !important;
  }
}
